:root {

    --text-dark: #1d1d1d;
    --text-light: #666;
    --font: 'Inter', sans-serif;
}

section {
    border-radius: 50px;
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
    background-image: url("images/background.png");
    background-size: cover;
    color: white;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding:0px;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    background-color: #16433C;
    padding: 7px;
    border-radius: 9px;
    color: whitesmoke;
    font-weight: 500;
}

nav a:hover {
    background: none;
    color: #16433C;
    border-color: #16433C;
    border: solid;
    background-color: white;

}

.hero {
    margin-right: 50px;
    margin-left: 50px;
    text-align: center;
    background-color: rgba(22, 67, 60, 0.6);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #16433C;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
}

.hero h1 {
    font-size: 50px;

}

.hero p {
    font-size: 20px;
    color: whitesmoke;
    font-weight: bold;

}


footer {
    text-align: center;
    align-items: center;
    padding: 4px;
    font-size: 12px;
    border-top: 1px;
}

#logo {
    width: 200px;
    height: auto;
    background-color: white;
    border-radius: 50px;
}

.navHead{
    font-size: 30px;
}

#bas{
    text-align: center;
    color: white;
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
}

#quote {
    font-style: italic;
    font-size: 21px;
}



.contact-form {
    max-width: 600px;
    margin: 60px auto;
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    font-family: 'Inter', sans-serif;
    text-align: left;
}

.contact-form h1 {
    text-align: center;
    color: #2e7d32;
    margin-bottom: 20px;
}

.contact-form p {
    text-align: center;
    color: #444;
    margin-bottom: 30px;
}

.contact-form label {
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

.contact-form button {
    display: block;
    width: 100%;
    background-color: #2e7d32;
    color: white;
    padding: 14px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #256428;
}

.textBtn{
    padding-top: 10px;
    text-decoration: none;
    background-color: white;
    padding: 7px;
    border-radius: 9px;
    color: #16433C;
    font-size: 25px;
    font-weight: 500;
}